<div class="start">
  <p-card header="Instructions">
    <p class="m-0">
      Welcome! Choose the number of words at a time you want to see :D
    </p>
  </p-card>
  <div class="start">
    <div>
      <p-inputNumber
        [(ngModel)]="displayedWords"
        inputId="minmax"
        mode="decimal"
        [min]="5"
        [max]="15"
      />
    </div>
    <div>
      <p-listbox
        [options]="times"
        [(ngModel)]="selectedTime"
        optionLabel="label"
        [style]="{ width: '15rem' }"
        [listStyle]="{ 'max-height': '220px' }"
        (onChange)="onSelectTime()"
      />
    </div>
    <p-button label="Submit" (onClick)="onSubmitClick()" />
  </div>
</div>
