.notGuessed {
    color: black;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 30px;
}

.grid {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.correctWord {
    color: green;
}

.wrongWord {
    color: red;
}

.words-box {
    font-size: large;
    height: 300px;
}
